@import '../../../variables/Variables.scss';

#rightbar {
    background-color: $screen-color;
    color: whitesmoke;
    width: 75%;
    max-width: 300px;
}

#rightbar-title {
    color: $red;
    font-family: $name;
    font-size: 2em;
}

.rightbar-link {
    color: $text-color;
    width: 100%;
    font-family: $text-font;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: large;
    padding: .5em;
}
.rightbar-link:hover {
    cursor: pointer;
    background-color: #222;
}
.rightbar-link-item {
    width: fit-content;
    margin: 0%;
}

.rightbar-link-item:nth-child(1) {
    margin-right: 2em;
}

// .rightbar-link svg {
//     // margin-right: 1em;
//     width: fit-content;
// }
// .rightbar-link p {
//     width: fit-content;
//     // margin: 0;
// }

#rightbar-social-row {
    position: absolute;
    bottom:0px;
    left:12px;
    width: fill;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #222;
    padding: 1em;
}

.social-icon {
    color: $text-color;
    width: fit-content;
    font-size: 3em;
}

.social-icon:hover {
    cursor: pointer;
    color: $red;
}