@import '../variables/Variables.scss';

#navbar {
    background-color: $screen-color;
}

#nav-bar-text {
    color: $text-color;
    font-family: $text-font;
}

#nav-bar-text:hover {
    cursor: pointer;
}