@import '../../../variables/Variables.scss';

#home-container {
    @include page-container("https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80")
}

#home-logo {
    padding: 1em;
    width: 70vw;
    text-align: center;
    max-width: 500px;
}

#name {
    color: $red;
    font-family: $name;
}

#typical {
    font-family: $text-font;
    color: $text-color;
}

#buttons-home {
    @include button($text-color, $screen-color, $red);
}

#buttons-home:hover {
    background-color: #111;
    cursor: pointer;
}

#resume-link {
    @include button($text-color, $screen-color, $red);
}

#resume-link:hover {
    background-color: #111;
    cursor: pointer;
}
